body {
  background: #fafafa;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: white;
  border: 1px solid #dbdbdb;
  padding: 30px;
  width: 300px;
  text-align: center;
}

h1 {
  font-family: cursive;
  font-size: 40px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #dbdbdb;
}

button {
  width: 100%;
  padding: 8px;
  background: #4cb5f9;
  color: white;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}

.note {
  font-size: 12px;
  color: #888;
}
